@{
    ViewData["Title"] = "Tela Perfil";
}

<link rel="stylesheet" href="~/css/perfil.css">
<h1>Tela Perfil - DevConnect</h1>

    <header id="cabecalho">
        <nav>
            <a href="./perfil.html">
                <img id="logo-desktop" src="~/Images/Logo-DevConnect-mdB.svg" alt="Logo do DevConnect">
            </a>
            <a href="./perfil.html">
                <img id="logo-mobile" src="~/Images/Logo-DevConnect-smB.svg" alt="Logo do DevConnect">
            </a>

            <div class="cabecalho-acoes">
                <a href="./perfil.html">
                    <img src="~/Images/icone-casa-branca.svg" alt="Página inicial">
                </a>
                <a href="#">
                    <img src="~/Images/icone-coracao-branco.svg" alt="Curtidas">
                </a>
                <a href="#">
                    <img class="foto-perfil" src="~/Images/Ferreirinha-1-SPFC.webp" alt="Perfil">
                </a>
            </div>

        </nav>
    </header>

    <main>
        <section id="cabecalho-foto-perfil">

            <div class="perfil">
                 
                    <img class="foto-tela-perfil" src="~/Images/Ferreirinha-1-SPFC.webp"
                        alt="Foto de perfil de Ferreirinha, jogador do SPFC">

                    <div class="bio-perfil">
                        <span class="nome-usuario">Ferreirinha</span>


                        <div id="informacoes">
                            <span>22 publicações</span>
                            <span>213 seguindo</span>
                            <span>1,1m seguidores</span>
                        </div>

                        <div class="acoes-perfil">

                            <span class="nome-verdadeiro">Aldemir Santos</span>
                            <a href="#" class="informacoes-perfil">Editar perfil</a>
                            <a href="#" class="informacoes-perfil">Sair</a>

                        </div>
                    </div>
            </div>


            <h3 class="titulo-publi">

                <img src="~/Images/icone-galeria-preto.svg" alt="Grid Icon"> Publicações

            </h3>
        </section>

        <section id="publicacoes">
            <article class="card-publi">
                <header>
                    <a href="#">
                    <img class="foto-perfil" src="~/Images/Ferreirinha-1-SPFC.webp" alt="">
                    Ferreirinha
                    </a>
                </header>

                <div>
                    <div>
                        ferreirinha
                        <p class="descricao-publicacao">final de jogo no morumbi muito feliz por ter colaborado na vitoria do time</p>
                    </div>

                    <div class="interacoes-publicacao">
                        <button type="button">
                            <img src="~/Images/icone-coracao-preto.svg" alt="">
                        </button>

                        <button type="button">
                        <img src="~/Images/icone-comentario-preto.svg" alt="">
                        </button>

                        <span>15mil</span>
                    </div>

                    <button type="button">Ver todos os comentários...</button>
                </div>

            </article>
        </section>

        <section id="publicacoes">
            <article class="card-publi">
                <header>
                    <a href="#">
                    <img class="foto-perfil" src="~/Images/Ferreirinha-1-SPFC.webp" alt="">
                    Ferreirinha
                    </a>
                </header>

                <div>
                    <div>
                        ferreirinha
                        <p class="descricao-publicacao">final de jogo no morumbi infelizmente saimos com o empate consegui fazer 2 gols mas o importante e focar no proximo jogo</p>
                    </div>

                    <div class="interacoes-publicacao">
                        <button type="button">
                            <img src="~/Images/icone-coracao-preto.svg" alt="">
                        </button>

                        <button type="button">
                        <img src="~/Images/icone-comentario-preto.svg" alt="">
                        </button>

                        <span>29mil</span>
                    </div>

                    <button type="button">Ver todos os comentários...</button>
                </div>

            </article>
        </section>
       
        <section id="publicacoes">
            <article class="card-publi">
                <header>
                    <a href="#">
                    <img class="foto-perfil" src="~/Images/Ferreirinha-1-SPFC.webp" alt="">
                    Ferreirinha
                    </a>
                </header>

                <div>
                    <div>
                        ferreirinha
                        <p class="descricao-publicacao">mais um jogo no brasilirão e conseguimos a vitoria fora de casa contra o juventude e agora temos que focar no proximo no jogo contra o fluminense</p>
                    </div>

                    <div class="interacoes-publicacao">
                        <button type="button">
                            <img src="~/Images/icone-coracao-preto.svg" alt="">
                        </button>

                        <button type="button">
                        <img src="~/Images/icone-comentario-preto.svg" alt="">
                        </button>

                        <span>11mil</span>
                    </div>

                    <button type="button">Ver todos os comentários...</button>
                </div>

            </article>
        </section>

    </main>