@{
    ViewData["Title"] = "Tela Feed";
}

<link rel="stylesheet" href="~/css/feed.css">
<h1>Tela Feed - DevConnect</h1>

<header id="cabecalho">
    <nav>
        <a href="./feed.html">
            <img id="logo-desktop" src="~/Images/Logo-DevConnect-mdB.svg" alt="Logo do DevConnect">
        </a>
        <a href="./feed.html">
            <img id="logo-mobile" src="~/Images/Logo-DevConnect-smB.svg" alt="Logo do DevConnect">
        </a>

        <div class="cabecalho-acoes">
            <a href="./feed.html">
                <img src="~/Images/icone-casa-branca.svg" alt="Página inicial">
            </a>
            <a href="#">
                <img src="~/Images/icone-coracao-branco.svg" alt="Curtidas">
            </a>
            <a href="#">
                <img class="foto-perfil" src="~/Images/Ferreirinha-1-SPFC.webp" alt="Perfil">
            </a>
        </div>

    </nav>
</header>

<main>
    <div class="container-flex-publi">
        <section id="storys" class="estilo-formulario">

            <article class="card-storys">
                <button type="button">
                    <img src="~/Images/Ferreirinha-1-SPFC.webp" alt="">
                    Ferreirinha
                </button>
            </article>

            <article class="card-storys">
                <button type="button">
                    <img src="~/Images/Ferreirinha-1-SPFC.webp" alt="">
                    Ferreirinha
                </button>
            </article>

            <article class="card-storys">
                <button type="button">
                    <img src="~/Images/Ferreirinha-1-SPFC.webp" alt="">
                    Ferreirinha
                </button>
            </article>

            <article class="card-storys">
                <button type="button">
                    <img src="~/Images/Ferreirinha-1-SPFC.webp" alt="">
                    Ferreirinha
                </button>
            </article>

            <article class="card-storys">
                <button type="button">
                    <img src="~/Images/Ferreirinha-1-SPFC.webp" alt="">
                    Ferreirinha
                </button>
            </article>

            <article class="card-storys">
                <button type="button">
                    <img src="~/Images/Ferreirinha-1-SPFC.webp" alt="">
                    Ferreirinha
                </button>
            </article>

            <article class="card-storys">
                <button type="button">
                    <img src="~/Images/Ferreirinha-1-SPFC.webp" alt="">
                    Ferreirinha
                </button>
            </article>

            <article class="card-storys">
                <button type="button">
                    <img src="~/Images/Ferreirinha-1-SPFC.webp" alt="">
                    Ferreirinha
                </button>
            </article>

            <article class="card-storys">
                <button type="button">
                    <img src="~/Images/Ferreirinha-1-SPFC.webp" alt="">
                    Ferreirinha
                </button>
            </article>

            <article class="card-storys">
                <button type="button">
                    <img src="~/Images/Ferreirinha-1-SPFC.webp" alt="">
                    Ferreirinha
                </button>
            </article>

            <article class="card-storys">
                <button type="button">
                    <img src="~/Images/Ferreirinha-1-SPFC.webp" alt="">
                    Ferreirinha
                </button>
            </article>

            <article class="card-storys">
                <button type="button">
                    <img src="~/Images/Ferreirinha-1-SPFC.webp" alt="">
                    Ferreirinha
                </button>
            </article>

            <article class="card-storys">
                <button type="button">
                    <img src="~/Images/Ferreirinha-1-SPFC.webp" alt="">
                    Ferreirinha
                </button>
            </article>
        </section>

        <section id="criar-publi">
            <form action="" class="estilo-formulario ">
                <h2>Publicação</h2>

                <textarea name="" id="" placeholder="Digite a descrição do post..."></textarea>
                <!--entrada de texto grandes-->

                <footer>
                    <div id="upload">
                        <label for="campo-upload">Faça o upload da sua imagem aqui...</label>
                        <input type="file" name="" id="campo-upload">
                    </div>
                    <button type="submit" class="formulario-botao-roxo-medio">Postar</button>
                </footer>


            </form>
        </section>

        <section id="publicacoes">
            <article class="card-publi">
                <header>
                    <a href="#">
                        <img class="foto-perfil" src="~/Images/Ferreirinha-1-SPFC.webp" alt="">
                        Ferreirinha
                    </a>
                </header>

                <figure>
                    <img class="imagem-publicacao" src="~/Images/Ferreirinha-1-SPFC.webp" alt="">
                    <figcaption>
                        ferreirinha
                        <p class="descricao-publicacao">final de jogo no morumbi muito feliz por ter colaborado na
                            vitoria do time</p>
                    </figcaption>

                    <div class="interacoes-publicacao">
                        <button type="button">
                            <img src="~/Images/icone-coracao-preto.svg" alt="">
                        </button>

                        <button type="button">
                            <img src="~/Images/icone-comentario-preto.svg" alt="">
                        </button>

                        <span>15mil</span>
                    </div>

                    <button type="button">Ver todos os comentários...</button>
                </figure>

            </article>
        </section>
    </div>
</main>