@{
    ViewData["Title"] = "Tela Cadastro";
}

@model DevConnect.Models.TbUsuario

<link rel="stylesheet" href="~/css/cadastro.css">

<script defer>
    let usuarioNovoCadastrado = "@ViewBag.UsuarioNovoCadastrado";

    if (usuarioNovoCadastrado === "Nao Cadastrado") {
        alert("Nao foi possivel cadastrar o usuário. Tente novamente.");
    } 
</script>

<h1>Cadastro do usuário - DevConnect</h1>
<main>
    <div>
        <!-- formulario -->
        <form class="estilo-formulario" asp-action="Index" asp-controller="Usuario" enctype="multipart/form-data">
            <img src="~/Images/Logo-DevConnect-mdP.svg" alt="Logo DevConnect">

            <p>Cadastre-se para a comunidade exclusiva de desenvolvedores(as)</p>

            <div class="formulario-campos">
                <label for="">Nome e sobrenome</label>
                <input type="text" asp-for="NomeCompleto" id="">
            </div>

            <div class="formulario-campos">
                <label for="">Nome de usuário</label>
                <input type="text" asp-for="NomeUsuario" id="">
            </div>

            <div class="formulario-campos">
                <label for="">E-mail</label>
                <input type="email" asp-for="Email" id="">
            </div>

            <div class="formulario-campos">
                <label for="">Senha</label>
                <input type="password" asp-for="Senha" id="">
            </div>

            <div>
                <label for="campo-upload" id="label-file">Faça o upload da sua imagem aqui...</label>
                <input type="file" name="Imagem" id="campo-upload" accept="image/*">
            </div>

            <button type="submit" class="formulario-botao-roxo-medio"> Cadastrar-se</button>

            <p>Ao se cadastrar, você concorda com nossos, Termos, Política de dados e Política de cookies</p>

        </form>

        <section id="secao-cadastro" class="estilo-formulario">
            <p>Tem uma conta? <a href="http://127.0.0.1:5500/static_devconnect/pages/index.html?#">Conecte-se</a>
            </p>
        </section>

    </div>
</main>